@model CannonBall.Web.ViewModels.GameFlowView

@{
    ViewBag.Title = "Cannonball Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>GameFlowView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TargetX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Angle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Angle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Velocity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Velocity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WasTargetHit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WasTargetHit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShotsTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShotsTaken)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
