@model CannonBall.Web.ViewModels.GameFlowView
<style type="text/css">
    .readonly { border-style:none; }
    .errorMsg { color:red;}
</style>
<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h4>The Cannonball Game</h4>
        <hr />
        <dl class="dl-horizontal">
            <input type="hidden" id="ShotCount" name="ShotCount" value="@Model.ShotsTaken" />
            <dt>
                @Html.DisplayNameFor(model => model.TargetX)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.TargetX, new { @class = "readonly", @readonly = "readonly" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TargetY)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.TargetY, new { @class = "readonly", @readonly = "readonly" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Angle)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.Angle)
                @Html.ValidationMessageFor(model => model.Angle, null, new { @class = "errorMsg" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Velocity)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.Velocity)
                @Html.ValidationMessageFor(model => model.Velocity, null, new { @class = "errorMsg" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShotsTaken)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShotsTaken)
            </dd>
        </dl>

        <br />
        if (Model.WasTargetHit)
        {
            <div style="color:green">Hit!</div>
            @Html.ActionLink("New Game", "Index", "Home")
        }
        else
        {
            <input type="submit" value="Take your shot" />
            if (IsPost && ViewData.ModelState.IsValid)
            {
                <div style="color:red">Missed!</div>
            }
        }
    }
</div>
